# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Виртуальные окружения
venv/
env/

# Артефакты MLflow
mlruns/
mlflow.db

# Модели и данные (управляются через DVC)
# Но отслеживаем DVC‑дескрипторы
!data/**/*.dvc
!models/**/*.dvc

models/
data/raw/*
!data/raw/*.dvc
data/processed/*
!data/processed/*.dvc


# Другие временные файлы
.DS_Store
.vscode/
*.log
dvc_remote/

